---
// import { Debug } from "astro:components";
import { Image } from 'astro:assets';
import Ingredient from "../components/Ingredient.astro";
import flourSvg from '../images/flour.svg';
import oliveSvg from '../images/olive.svg';
import saltSvg from '../images/salt.svg';
import waterSvg from '../images/water.svg';
import weightSvg from '../images/weight.svg';
import yeastSvg from '../images/yeast.svg';
import blankSvg from '../images/blank.svg';
---

<dialog>
  <h2>Pour vos pizzas</h2>
  <p>Les poids sont indiqués en g.</p>
  <Ingredient id="flour" type="Farine" value="" symbol={flourSvg} />
  <Ingredient id="water" type="Eau" value="" symbol={waterSvg}/>
  <Ingredient id="oil" type="Huile d'olive" value="" symbol={oliveSvg}/>
  <Ingredient id="salt" type="Sel" value="" symbol={saltSvg}/>
  <Ingredient id="weight" type="Poids total" value="" symbol={weightSvg}/>
  <Ingredient id="yeast" type="Levure " value="" symbol={yeastSvg}/>
  <span id="yeast-caption">test</span>
  <button>Fermer</button>
</dialog>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let form = document.getElementById("pizza");
    form?.addEventListener("submit", onCompute);

    removeBorder("yeast-fresh");
    removeBorder("yeast-dry");

  });

  const dialog = document.querySelector("dialog");
  const button = document.querySelector("dialog button");
  button?.addEventListener("click", () => {
    if (dialog) {
      dialog.style.visibility = "hidden";
      dialog.close();
      let overlay = document.getElementById("overlay");
      if(overlay) {
        overlay.style.visibility = "hidden";
      }
    }
  });

  function removeBorder(id: string) {
    let yd = document.getElementById(id);
    if(yd) {
      yd.style.border = "none";
    }
  }

  function onCompute(e: Event) {
    // showing the dialog is made in the index submit callback

    let unitWeight = Number(getInputValue("weight"));
    let quantity = Number(getInputValue("quantity"));
    let waterRate = Number(getInputValue("water")) / 100;
    let oilRate = Number(getInputValue("oil")) / 100;
    let saltRate = Number(getInputValue("salt")) / 100;

    let yeastTypeInput: HTMLInputElement | null = document.querySelector('input[name="yeast-type"]:checked');
    let yeastType;
    if(yeastTypeInput) {
      yeastType = yeastTypeInput.value;
    }
    let yeastRate = Number(getInputValue("yeast"));

    let weight = unitWeight * quantity;
    let rate = 1 + waterRate + oilRate + saltRate;
    let flour = Math.round(weight / rate);
    let water = Math.round(flour * waterRate);
    let oil = Math.round(flour * oilRate);
    let salt = Math.round(flour * saltRate);
    let yeast = (yeastRate * flour) / 1000;

    setValue("flour", flour.toString());
    setValue("water", water.toString());
    setValue("oil", oil.toString());
    setValue("salt", salt.toString());
    setValue("weight", weight.toString());
    setValue("yeast", yeast.toFixed(1));

    // Set the yeast label to specify the type
    let yeastField = document.querySelector("#yeast .left span");
    if(yeastField && yeastField.textContent) {
      yeastField.textContent = "Levure " + yeastType;
    }

    removeBorder("yeast");

    let yeastCaption = document.getElementById("yeast-caption");
    let yeastEquivalent: string;
    let yeastWeight: number = 0;
    if(yeastCaption) {
      if(yeastType === "Fraîche") {
        yeastWeight = yeast / 2.5;
        yeastEquivalent = "Equivaut à " + yeastWeight.toFixed(1) + " g de levure sèche, soit " + (yeastWeight * 1000 / flour).toFixed(1) + " g/kg de farine.";
      } else { // Sèche
        yeastWeight = yeast * 2.5;
        yeastEquivalent = "Equivaut à " + yeastWeight.toFixed(1) + " g de levure fraîche, soit " + (yeastWeight * 1000 / flour).toFixed(1) + " g/kg de farine.";
      }

      yeastCaption.textContent = yeastEquivalent;
    }


  }

  function getInputValue(name: string) {
    let input: HTMLInputElement | null = document.querySelector(`input[name="${name}"]`);
    return input ? input.value : null;
  }

  function setValue(key: string, value: string) {
    let field = document.getElementById(key);
    if (field) {
      // console.log(field.children[1]);
      field.children[1].textContent = value.toString();
    }
  }
</script>

<style>
  dialog {
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 25px;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
  }

  p, #yeast-caption{
    width: 100%;
    text-align: left;
  }

  dialog button {
    margin-top: 1rem;
    background-color: white;
    color: blue;
    border-radius: 0.5rem;
    width: 100%;
    border: 2px solid blue;
  }

  dialog button:hover {
    color: #0000a5;
    border-color: #0000a5;
    background-color: azure;
  }

  #yeast-caption {
    margin-top: -0.75rem;
  }
</style>
