---
// import { Debug } from "astro:components";
import { Image } from 'astro:assets';
import Ingredient from "../components/Ingredient.astro";
import flourSvg from '../images/flour.svg';
import oliveSvg from '../images/olive.svg';
import saltSvg from '../images/salt.svg';
import waterSvg from '../images/water.svg';
import weightSvg from '../images/weight.svg';
import yeastSvg from '../images/yeast.svg';
import blankSvg from '../images/blank.svg';
---

<dialog>
  <h2>Pour vos pizzas</h2>
  <p>Les poids sont indiqués en g.</p>
  <Ingredient id="flour" type="Farine" value="" symbol={flourSvg} />
  <Ingredient id="water" type="Eau" value="" symbol={waterSvg}/>
  <Ingredient id="oil" type="Huile" value="" symbol={oliveSvg}/>
  <Ingredient id="salt" type="Sel" value="" symbol={saltSvg}/>
  <Ingredient id="weight" type="Poids total" value=""  symbol={weightSvg}/>
  <div id="yeast">
    <div class="left">
      <Image src={yeastSvg} alt="" />
      <span class="type">Levure (au choix selon le type)</span>
    </div>
  </div>
  <Ingredient id="yeast-fresh" type="Fraîche" value="" symbol={blankSvg}/>
  <Ingredient id="yeast-dry" type="Sèche" value="" symbol={blankSvg}/>
  <button>Fermer</button>
</dialog>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let form = document.getElementById("pizza");
    form?.addEventListener("submit", onCompute);

    removeBorder("yeast-fresh");
    removeBorder("yeast-dry");

  });

  const dialog = document.querySelector("dialog");
  const button = document.querySelector("dialog button");
  button?.addEventListener("click", () => {
    if (dialog) {
      dialog.style.visibility = "hidden";
      dialog.close();
      let overlay = document.getElementById("overlay");
      if(overlay) {
        overlay.style.visibility = "hidden";
      }
    }
  });

  function removeBorder(id: string) {
    let yd = document.getElementById(id);
    if(yd) {
      yd.style.border = "none";
    }
  }

  function onCompute(e: Event) {
    // showing the dialog is made in the index submit callback

    let form: HTMLFormElement = e.target as HTMLFormElement;
    console.log(form);

    if (form && form.length > 18) {
      let unitWeight = Number(getInputValue(form[1]));
      let quantity = Number(getInputValue(form[4]));
      let waterRate = Number(getInputValue(form[7])) / 100;
      let oilRate = Number(getInputValue(form[10])) / 100;
      let saltRate = Number(getInputValue(form[13])) / 100;
      let yeastRate = Number(getInputValue(form[16]));

      let weight = unitWeight * quantity;
      let rate = 1 + waterRate + oilRate + saltRate;
      let flour = Math.round(weight / rate);
      let water = Math.round(flour * waterRate);
      let oil = Math.round(flour * oilRate);
      let salt = Math.round(flour * saltRate);
      let yeast = (yeastRate * flour) / 1000;

      // console.log(weight);
      // console.log(rate);
      // console.log(flour);
      // console.log(water);
      // console.log(oil);
      // console.log(salt);
      // console.log(yeast);

      // If dry yeast, we have to divide by 2.5
      // if (yeastType === 2) {
      //   yeast = yeast / 2.5;
      // }

      setValue("flour", flour.toString());
      setValue("water", water.toString());
      setValue("oil", oil.toString());
      setValue("salt", salt.toString());
      setValue("yeast-fresh", yeast.toFixed(1));
      setValue("yeast-dry", (yeast/2.5).toFixed(1));
      setValue("weight", weight.toString());
    }
  }

  function getInputValue(element: Element) {
    let input: HTMLInputElement = element as HTMLInputElement;
    return input.value;
  }

  function setValue(key: string, value: string) {
    let field = document.getElementById(key);
    if (field) {
      // console.log(field.children[1]);
      field.children[1].textContent = value.toString();
    }
  }
</script>

<style>
  dialog {
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 25px;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
  }

  p {
    width: 100%;
    text-align: left;
  }

  dialog button {
    margin-top: 1rem;
    background-color: white;
    color: blue;
    border-radius: 0.5rem;
    width: 100%;
    border: 2px solid blue;
  }

  dialog button:hover {
    color: #0000a5;
    border-color: #0000a5;
    background-color: azure;
}

  #yeast {
    margin-top: 0.5rem;
  }

  .ingredient#yeast-fresh, .ingredient#yeast-dry {
    padding: 0.25rem 0;
  }
</style>
