---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Menu from '../components/Menu.astro';
import Header from '../components/Header.astro';
import "../styles/main.css";

const favi = "/favicon.svg";
const title = "Coach Pizza";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { heading } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t('header.content')} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favi} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Menu />
		<Header title={heading} />
		<slot />
	</body>
</html>

<style>
</style>
